/* Basic button styles */
.menuButton {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #ff6347; /* Coral color */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative; /* Add this to manage the pseudo-element */
  width: 200px;

  /* Center text vertically */
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Hover effect */
.menuButton:hover {
  background-color: #ff5733; /* Slightly darker coral color */
}

/* Disabled state */
.menuButton:disabled {
  background-color: #d1d1d1;
  cursor: not-allowed;
}

/* Adding a subtle shadow */
.menuButton {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Changing the shadow on hover */
.menuButton:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Hide the default input */
.menuButton input {
  opacity: 0;
  height: 1%;
}

.icon {
  margin-left: 30%;
  margin-right: 10px;
}

/* Pseudo-element for icon */
/* .menuButton::before {
  content: '\f093';
  font-family: 'FontAwesome';

  font-size: 24px;
  margin-right: 8px;
} */
