/* TODO Get a real font going */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --background-color: black;
  /* --background-color: rgb(53, 51, 51); */
  --secondary-color: white;

  --border-size: 0.2vh;
  --header-height: 5vh;
  /* --menu-border-width: 0.2vw; */
  --menu-width: 5vw;
}

html {
  background-color: var(--background-color);
  height: 100%; /* Set the height of the root element */
}

body {
  margin: 0; /* Remove default margin to avoid unexpected spacing */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange children in a column */
  min-height: 100vh; /* Ensure the body fills the entire viewport height */
}

.App {
  flex: 1; /* Allow App to take all available vertical space */
  display: flex; /* Use flexbox for layout inside App */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center children horizontally */

  font-family: 'Roboto', sans-serif;
}

/* img {
  width: 80px;
  height: 80px;
} */

.middleContent {
  background-color: white;
  /* background-color: var(--background-color); */
  /* background-color: #a6b8b1; */
  /* border: 1px solid #ccc; */
  flex: 1; /* Allow middleContent to take all available vertical space */
  display: flex; /* Use flexbox for layout inside middleContent */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  overflow: auto; /* Add overflow to enable scrolling if content exceeds the available space */
  position: fixed;
  width: 94vw;
  height: 94vh;
  /* top: 5.1vh; */
  top: calc(var(--header-height) + var(--border-size));
  left: calc(var(--menu-width) + var(--border-size));
}

.mainUploader {
  top: 30%;
  position: absolute;
  margin: 0;
  height: 100px;
  width: 100px;
}
